.site {
  overflow-x: hidden;
  flex-direction: column;
}
.site-content {
  position: relative;
  z-index: $header-z-index - 1;
  height: auto;
}

.navigation-opened {
  .site-content {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
}